body {
  margin: 0;
}

.NavBar {
  box-shadow: 0 4px 8px rgba(134, 134, 134, 0.8);
  padding: 10px;
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  /* align-items: center; */
}
.imgDiv {
  text-align: left;
}

.imgNav {
  text-align: center;
  width: 180px;
}

.linksHeader {
  margin-top: 93px;
  height: 30px;
  display: flex;
  /* justify-content: right;
  margin-top: -30px; */
  gap: 1em;
  

}

.links {
  font-size: 1.7em;
  align-items: center;
  text-decoration: none;
  color: rgb(0, 0, 0);
  text-align: center;
}

/* Link :hover {
  color: #D5C9BA;
} */
.NavBar .links:hover {
  color: #D5C9BA;
  
  
}