.detailsDivProduct {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 100px;
  margin-right: 100px;
  /* border: 1px solid black; */
}

.imgPoductDetails {
  box-shadow: 0 0 15px 3px #1d1716;
}

.pDivs {
  margin-left: 50px;
}

.pDetails2 {
  /* border-bottom: 1px solid #000000; */
  margin: 50px 0;
  padding: 5px;
}

.prodactDetails {
  display: flex;
  align-items: center;
  /* margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 100px; */
}

.imgPoductDetails {
  /* max-width: 1200px; 
    margin-right: 20px;  */
  max-width: 1200px;
  max-height: 500px;
  object-fit: cover;
}

.btnAddToCart {
  /* margin-top: 150px; */
  margin-left: 50px;
}
.withBorder {
  /* border-bottom: 1px solid black; */
}

.CartBtn {
  margin-top: 80px;
  width: 140px;
  height: 40px;
  border-radius: 12px;
  border: none;
  background-color: rgb(255, 208, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: 0.5s;
  overflow: hidden;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.103);
  position: relative;
}

.IconContainer {
  position: absolute;
  left: -50px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 2;
  transition-duration: 0.5s;
}

.icon {
  border-radius: 1px;
}

.text {
  height: 100%;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(17, 17, 17);
  z-index: 1;
  transition-duration: 0.5s;
  font-size: 1.04em;
  font-weight: 600;
}

.CartBtn:hover .IconContainer {
  transform: translateX(58px);
  border-radius: 40px;
  transition-duration: 0.5s;
}

.CartBtn:hover .text {
  transform: translate(10px, 0px);
  transition-duration: 0.5s;
}

.CartBtn:active {
  transform: scale(0.95);
  transition-duration: 0.5s;
}
