.mainByCategory {
  margin-top: 130px;
  padding: 0 100px;
}

.categoryTitle {
  background-color: #b9b5b17c;
  width: 2500px;
  height: 180px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 380px;
  margin-left: -100px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 20px;
}

.productDiv {
  /* border: 1px solid black; */
  width: 500px;
  /* height: 500px; */
  margin-left: 50px;
  margin-bottom: 20px;
  margin-top: 100px;
  /* transition: opacity 0.3s; */
}

/* .productDiv:hover {
  opacity: 0.9;
  
} */

.productsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  gap: 50px;
}

.productImage {
  max-width: 100%;
  /* height: auto; */
  /* border-radius: 10px; */
  height: 380px;
  object-fit: cover;
}
.productImage:hover {
  box-shadow: 0 0 15px 3px #1d1716;
}

.productDetailsTitle,
.productDetailsDiscription{
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
}

.productDetailsPrice{
  text-align: center;
  
  font-size: 23px;
}

.productDetailsTitle:hover,
.productDetailsPrice:hover {
  color: #D5C9BA;
}

a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/*---------------------------------------------------BUTTONS----------------------------------------------------------*/

.buttonsContainer {
  display: flex;
  justify-content: space-around;
  /* text-align: center; */
  /* gap: 8em; */
}
/*------------------------------------------------DELETE BUTTON-------------------------------------------------------*/
.noselectDeleteButton {
  width: 150px;
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background: red;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
  background: #522b2b;
}

.noselectDeleteButton,
button span {
  transition: 200ms;
}

.noselectDeleteButton .text {
  transform: translateX(35px);
  color: white;
  font-weight: bold;
}

.noselectDeleteButton .icon {
  position: absolute;
  border-left: 1px solid #c41b1b;
  transform: translateX(110px);
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.noselectDeleteButton svg {
  width: 15px;
  fill: #eee;
}

.noselectDeleteButton:hover {
  background: #ff3636;
}

.noselectDeleteButton:hover .text {
  color: transparent;
}

.noselectDeleteButton:hover .icon {
  width: 150px;
  border-left: none;
  transform: translateX(0);
}

.noselectDeleteButton:focus {
  outline: none;
}

.noselectDeleteButton:active .icon svg {
  transform: scale(0.8);
}

/*------------------------------------------------DELETE BUTTON-------------------------------------------------------*/

/*------------------------------------------------UPDATE BUTTON-------------------------------------------------------*/

.edit-button {
  position: relative;
  width: 150px;
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background: #1E3F55;
  border: none;
  border-radius: 5px;
  text-decoration: none !important;
}

.edit-button:hover {
  background-color: #2d88c5;
}

.edit-svgIcon {
  width: 17px;
  transition-duration: 0.3s;
  margin-left: 7px;
}

.edit-svgIcon path {
  fill: white;
}

/* .edit-button:hover {
  width: 120px;
  border-radius: 50px;
  transition-duration: 0.3s;
  background-color: rgb(69, 233, 255);
  align-items: center;
} */

.edit-button:hover .edit-svgIcon {
  width: 20px;
  transition-duration: 0.3s;
  transform: translateY(60%);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

.edit-button::before {
  content: "Edit";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  color: white;
  transition-duration: 0.3s;
  font-size: 13px;
  opacity: 10;
}

.edit-button:hover::before {
  opacity: 1;
  transition-duration: 0.3s;
}

/*------------------------------------------------UPDATE BUTTON-------------------------------------------------------*/
.editForm {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 20px;
}

.editForm label {
  margin-bottom: 8px;
  font-weight: bold;
}

.editForm input {
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.editForm button {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.editForm button:hover {
  background-color: #45a049;
}


/*----------------------------------------------------Modal Buttons-----------------------------------------------------*/

.custom-popup-class .btn-ok {
  border: none;
  background-color: #2ecc71;; 
  color: #ffffff; 
}


.custom-popup-class .btn-ok-fail {
  border: none;
  background-color: #75a588;; 
  color: #ffffff; 
}