.formAddProduct {
  margin-top: 100px;
  margin-bottom: 200px;
  
  
}

.inputDivProduct {
  max-width: 400px;
  margin: 0 auto;
  
}

.formProduct {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.ProductInp {
  padding: 5px;
  border: none;
  border-bottom: 1px solid #000000;
  outline: none;
}

.ProductInpImg {
    padding: 5px;
  border: none;
  
  outline: none;
}

.fileInputContainer {
  display: flex;
  gap: 10px;
  align-items: center;
}

.uploadButton {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-weight: bold;
  padding: 10px 10px;
  background-color: #3498db;
  color: #fff;
  border: none;
  cursor: pointer;
  width: 150px;
  margin-left: 130px;
  width: 150px;
  height: 50px;
  border-radius: 5px;
}
.uploadButton:hover {
  background-color: #fdfdfd;
  border: 3px solid #3498db;
  color:#3498db;
}

.productLabelImg {
  margin-top: 10px;
}

.addProductBtn {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-weight: bold;
  margin-top: 20px;
  padding: 10px;
  background-color: #2ecc71;
  color: #fff;
  border: none;
  cursor: pointer;
  width: 150px;
  margin-left: 130px;
  width: 150px;
  height: 50px;
  border-radius: 5px;
}

.addProductBtn:hover {
  background-color: #fdfdfd;
  border: 3px solid #2ecc71;
  color:#2ecc71;
}


